%nav
  .pre-nav
    .wrapper
      %ul
        %li
          = link_to 'About', '/about.html'
        %li
          = link_to 'Gift Cards', '/gift-cards.html'
  .wrapper
    .logo
      = link_to '/' do
        = image_tag '../images/taverna.png'
    %ul
      %li
        .ui.dropdown
          %span Menus
          .menu
            .item
              = link_to 'Brunch', '/brunch.html'
            .item
              = link_to 'Lunch', '/lunch.html'
            .item
              = link_to 'Dinner', '/dinner.html'
            .item
              = link_to 'Kids', '/kids.html'
            .item
              = link_to 'Happy Hour', '/happy-hour.html'
            .item
              = link_to 'Cheese and Salumi', '/cheese-and-salumi.html'
            .item
              = link_to 'Wine By The Glass', '/wine-by-the-glass.html'
            .item
              = link_to 'Wine By The Bottle', '/wine-by-the-bottle.html'
            .item
              = link_to 'Family Meals', '/family-meals.html'
      %li
        = link_to 'Reservations', '#resy'
      %li
        = link_to 'Private Dining', '/private-dining.html'
      %li
        = link_to 'Contact', '#contact'
      %li.order-now
        = link_to 'Order Here', '/order-online/', {class: "button"}
    = link_to '#', class: 'collapse-menu' do
      %i.ion-navicon-round
    .ui.basic.modal.mobile-nav
      .close
        %i.ion-close-round
      = link_to 'Order Now', '/order-online/', {class: "button"}
      = link_to 'Brunch', '/brunch.html'
      = link_to 'Lunch', '/lunch.html'
      = link_to 'Dinner', '/dinner.html'
      = link_to 'Kids', '/kids.html'
      = link_to 'Happy Hour', '/happy-hour.html'
      = link_to 'Cheese and Salumi', '/cheese-and-salumi.html'
      = link_to 'Wine', '/wine.html'
      = link_to 'Wine and Cheese Club', '/wine-and-cheese-club.html'
      = link_to 'Family Meals', '/family-meals.html'
      = link_to 'Private Dining', '/private-dining.html'
      = link_to 'About', '/about.html'
      = link_to 'Gift Cards', '/gift-cards.html'
      = link_to 'Reservations', '#resy'
